/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* style.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

:root {
    
    --grey-xdark: #000000;
    --grey-dark: #232629;
    --grey-medium: #333333;
    --grey-light: #373c41;
    
    --font-color: #dddddd;
    
    --link-color: #0099ff;
    --link-hover: #66ccff;
}

html *
{
    font-family: 'Rubik', sans-serif;
    font-size: 1.01rem;
    color: var(--font-color);
}

body {
    background-color: var(--grey-light);
    border: 1px var(--grey-xdark) solid;
    max-width: 1400px;
    margin: auto;
}

a {
    color: var(--link-color);
    text-decoration: none;
}
a:hover {
    color: var(--link-hover);
}

.header {
    background-color: var(--grey-dark);
    padding: 0.4em 1.5em 0em;
}
.header > .logo {
    display: inline-block;
    width: 227px;
    height: 64px;
}
.header > .logo img {
    width: 100%;
    height: 100%;
}
.header > .menu {
    display: inline-block;
    vertical-align: bottom;
}
.header > .menu > ul {
    font-size: 1.5em;
    font-weight: bold;
    list-style-type: none;
    margin: 0px;
}
.header > .menu > ul li {
    display: inline;
    margin: 0em 0.5em;
}

.content {
    padding: 0.4em 2.8em;
}
.content h1, h2, h3, h4, h5, h6 {
    margin: 0.2em 0em;
}
.content h1 {
    font-size: 1.6em;
}
.content p {
    margin: 0em 1.5em 0.8em 1.5em;
}
.content .center,
.content .center > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    background-color: var(--grey-dark);
    padding: 0.4em 1.5em;
}
.footer > .copyright {
    width: 100%;
    text-align: center;
    font-size: 0.75em;
    padding: 0.4em 1.5em;
}

/* Mobile Devices */
@media (max-width: 600px) {
    body {
        border: 0px;
    }
    
    .header > .logo {
        width: 113px;
        height: 32px;
    }
    
    .content {
        padding: 0.4em 1.4em;
    }
    .content .center > img {
        width: 313px;
        height: 372px;
    }
}